.section {
width: 50%;
margin: 0 auto;
padding: 20px;
text-align: center;
background-color: white;
border: 2px solid grey;
border-radius: 5px;
width: 360px;
box-shadow: 1px 1px 2px 2px rgb(209, 204, 204);
}

.section:first-child {
    margin-bottom: 20px;
}

.section:last-child {
    height: 26vh;
}

.title {
    margin-bottom: 15px;
}